body {
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    
}

h1 {
  color: hsl(0, 0%, 95%);  
  font-family: 'Big Shoulders Display',cursive;
  font-weight: 700;
  font-size: 40px;
}
.parent {
    display: flex;
    background-color: hsl(0, 0%, 95%);
  }
  
.child1 { 
    background-color: hsl(31, 77%, 52%);
    padding-left: 35px;
  }
.child2 {
    background-color: hsl(184, 100%, 22%);
    padding-left: 35px;
  }
.child3 {
    background-color: hsl(179, 100%, 13%);
    padding-left: 35px;
  }
@media only screen and (max-width: 767px) {
    .parent{
        flex-direction: row;
        flex-wrap: wrap;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .child1{
        padding-top: 40px;
        padding-right: 30px;
        border-top-right-radius: 10px;
        border-top-left-radius:10px;
    }
    .child2{
        padding-top: 40px;
        padding-right: 30px;
    }
    .child3{
        padding-top: 40px;
        padding-right: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius:10px;
    }
    .padding{
        padding-top: 5px;
        padding-bottom: 40px;
    }
    .button{
        width:130px;
        height:45px;
    }
  }

@media only screen and (min-width: 768px) {
    .parent{
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 10%;
        margin-right: 10%;
        height: 470px;   
    }
    .child1{
        width: 25%;
        border-bottom-left-radius:10px;
        border-top-left-radius:10px;
        padding-right: 30px;
        padding-top: 40px;
    }
    .child2{
        width: 25%;
        padding-right: 30px;
        padding-top: 40px;
    }
    .child3{
        width: 25%;
        padding-right: 30px;
        padding-top: 40px;
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;
    }
    .padding{
        position: absolute;
        bottom: 140px;
    }
    .button{
        width:150px;
        height:50px;
    }
  }
  @media only screen and (min-width: 850px) {
    .parent{
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 15%;
        margin-right: auto;
        height: 470px;
    }
    .child1{
        width: 20%;
        border-bottom-left-radius:10px;
        border-top-left-radius:10px;
        padding-right: 30px;
        padding-top: 40px;
    }
    .child2{
        width: 20%;
        padding-right: 30px;
        padding-top: 40px;
    }
    .child3{
        width: 20%;
        padding-right: 30px;
        padding-top: 40px;
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;
    }
    .padding{
        position: absolute;
        bottom: 140px;
    }
    .button{
        width:150px;
        height:50px;
    }
  }

.button {
    background-color: hsl(0, 0%, 95%);
    border:none;
    border-radius: 25px;
    font-family: 'Lexend Deca';
    font-weight: 600;
}
.btn1{
    color:hsl(31, 77%, 52%);
}
.btn1:hover{
    background-color:hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    cursor:pointer;
}
.btn2 {
    color: hsl(184, 100%, 22%);
}
.btn2:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    cursor:pointer;
}
.btn3 {
    color: hsl(179, 100%, 13%);
}
.btn3:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    cursor:pointer;
}

